<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MediaCat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A18F89D41E2B9E0900308A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18F89EA1E2B9E0A00308A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18F89F51E2B9E0A00308A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
